<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.mybatis.inter.PostMapper" >
  <resultMap id="BaseResultMap" type="com.bbs.mybatis.model.Post" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="section_id" property="sectionId" jdbcType="INTEGER" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="browse_num" property="browseNum" jdbcType="INTEGER" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="thumb_num" property="thumbNum" jdbcType="INTEGER" />
    <result column="is_approve" property="isApprove" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="top" property="top" jdbcType="INTEGER" />
    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bbs.mybatis.model.Post" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="content_copy" property="contentCopy" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    `id`, `user_id`, `title`, `section_id`, `publish_time`, `browse_num`, `comment_num`, 
    `thumb_num`, `is_approve`, `status`, `type`, `top`, `expire_time`, `is_delete`
  </sql>
  <sql id="Blob_Column_List" >
    `content`, `content_copy`
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.bbs.mybatis.model.PostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `post`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bbs.mybatis.model.PostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `post`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `post`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `post`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bbs.mybatis.model.PostExample" >
    delete from `post`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bbs.mybatis.model.Post" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `post` (`user_id`, `title`, `section_id`, 
      `publish_time`, `browse_num`, `comment_num`, 
      `thumb_num`, `is_approve`, `status`, 
      `type`, `top`, `expire_time`, 
      `is_delete`, `content`,  `content_copy`)
    values (#{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{sectionId,jdbcType=INTEGER}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{browseNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, 
      #{thumbNum,jdbcType=INTEGER}, #{isApprove,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{top,jdbcType=INTEGER}, #{expireTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}, #{contentCopy,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbs.mybatis.model.Post" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `post`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        `user_id`,
      </if>
      <if test="title != null" >
        `title`,
      </if>
      <if test="sectionId != null" >
        `section_id`,
      </if>
      <if test="publishTime != null" >
        `publish_time`,
      </if>
      <if test="browseNum != null" >
        `browse_num`,
      </if>
      <if test="commentNum != null" >
        `comment_num`,
      </if>
      <if test="thumbNum != null" >
        `thumb_num`,
      </if>
      <if test="isApprove != null" >
        `is_approve`,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="top != null" >
        `top`,
      </if>
      <if test="expireTime != null" >
        `expire_time`,
      </if>
      <if test="isDelete != null" >
        `is_delete`,
      </if>
      <if test="content != null" >
        `content`,
      </if>
    <if test="contentCopy != null" >
        `content_copy`,
    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="browseNum != null" >
        #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="thumbNum != null" >
        #{thumbNum,jdbcType=INTEGER},
      </if>
      <if test="isApprove != null" >
        #{isApprove,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        #{top,jdbcType=INTEGER},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
        <if test="contentCopy != null" >
            #{contentCopy,jdbcType=LONGVARCHAR},
        </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bbs.mybatis.model.PostExample" resultType="java.lang.Integer" >
    select count(*) from `post`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `post`
    <set >
      <if test="record.id != null" >
        `id` = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        `user_id` = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        `title` = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sectionId != null" >
        `section_id` = #{record.sectionId,jdbcType=INTEGER},
      </if>
      <if test="record.publishTime != null" >
        `publish_time` = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.browseNum != null" >
        `browse_num` = #{record.browseNum,jdbcType=INTEGER},
      </if>
      <if test="record.commentNum != null" >
        `comment_num` = #{record.commentNum,jdbcType=INTEGER},
      </if>
      <if test="record.thumbNum != null" >
        `thumb_num` = #{record.thumbNum,jdbcType=INTEGER},
      </if>
      <if test="record.isApprove != null" >
        `is_approve` = #{record.isApprove,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.top != null" >
        `top` = #{record.top,jdbcType=INTEGER},
      </if>
      <if test="record.expireTime != null" >
        `expire_time` = #{record.expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        `is_delete` = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        `content` = #{record.content,jdbcType=LONGVARCHAR},
      </if>
        <if test="record.contentCopy != null" >
            `content` = #{record.contentCopy,jdbcType=LONGVARCHAR},
        </if>

    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update `post`
    set `id` = #{record.id,jdbcType=INTEGER},
      `user_id` = #{record.userId,jdbcType=INTEGER},
      `title` = #{record.title,jdbcType=VARCHAR},
      `section_id` = #{record.sectionId,jdbcType=INTEGER},
      `publish_time` = #{record.publishTime,jdbcType=TIMESTAMP},
      `browse_num` = #{record.browseNum,jdbcType=INTEGER},
      `comment_num` = #{record.commentNum,jdbcType=INTEGER},
      `thumb_num` = #{record.thumbNum,jdbcType=INTEGER},
      `is_approve` = #{record.isApprove,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER},
      `type` = #{record.type,jdbcType=INTEGER},
      `top` = #{record.top,jdbcType=INTEGER},
      `expire_time` = #{record.expireTime,jdbcType=TIMESTAMP},
      `is_delete` = #{record.isDelete,jdbcType=INTEGER},
      `content` = #{record.content,jdbcType=LONGVARCHAR},
      `content_copy` = #{record.contentCopy,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `post`
    set `id` = #{record.id,jdbcType=INTEGER},
      `user_id` = #{record.userId,jdbcType=INTEGER},
      `title` = #{record.title,jdbcType=VARCHAR},
      `section_id` = #{record.sectionId,jdbcType=INTEGER},
      `publish_time` = #{record.publishTime,jdbcType=TIMESTAMP},
      `browse_num` = #{record.browseNum,jdbcType=INTEGER},
      `comment_num` = #{record.commentNum,jdbcType=INTEGER},
      `thumb_num` = #{record.thumbNum,jdbcType=INTEGER},
      `is_approve` = #{record.isApprove,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER},
      `type` = #{record.type,jdbcType=INTEGER},
      `top` = #{record.top,jdbcType=INTEGER},
      `expire_time` = #{record.expireTime,jdbcType=TIMESTAMP},
      `is_delete` = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbs.mybatis.model.Post" >
    update `post`
    <set >
      <if test="userId != null" >
        `user_id` = #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        `title` = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sectionId != null" >
        `section_id` = #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        `publish_time` = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="browseNum != null" >
        `browse_num` = #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        `comment_num` = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="thumbNum != null" >
        `thumb_num` = #{thumbNum,jdbcType=INTEGER},
      </if>
      <if test="isApprove != null" >
        `is_approve` = #{isApprove,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        `top` = #{top,jdbcType=INTEGER},
      </if>
      <if test="expireTime != null" >
        `expire_time` = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        `is_delete` = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        `content` = #{content,jdbcType=LONGVARCHAR},
      </if>
        <if test="contentCopy != null" >
            `content_copy` = #{contentCopy,jdbcType=LONGVARCHAR},
        </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bbs.mybatis.model.Post" >
    update `post`
    set `user_id` = #{userId,jdbcType=INTEGER},
      `title` = #{title,jdbcType=VARCHAR},
      `section_id` = #{sectionId,jdbcType=INTEGER},
      `publish_time` = #{publishTime,jdbcType=TIMESTAMP},
      `browse_num` = #{browseNum,jdbcType=INTEGER},
      `comment_num` = #{commentNum,jdbcType=INTEGER},
      `thumb_num` = #{thumbNum,jdbcType=INTEGER},
      `is_approve` = #{isApprove,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      `top` = #{top,jdbcType=INTEGER},
      `expire_time` = #{expireTime,jdbcType=TIMESTAMP},
      `is_delete` = #{isDelete,jdbcType=INTEGER},
      `content` = #{content,jdbcType=LONGVARCHAR},
       `content_copy` = #{contentCopy,jdbcType=LONGVARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbs.mybatis.model.Post" >
    update `post`
    set `user_id` = #{userId,jdbcType=INTEGER},
      `title` = #{title,jdbcType=VARCHAR},
      `section_id` = #{sectionId,jdbcType=INTEGER},
      `publish_time` = #{publishTime,jdbcType=TIMESTAMP},
      `browse_num` = #{browseNum,jdbcType=INTEGER},
      `comment_num` = #{commentNum,jdbcType=INTEGER},
      `thumb_num` = #{thumbNum,jdbcType=INTEGER},
      `is_approve` = #{isApprove,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      `top` = #{top,jdbcType=INTEGER},
      `expire_time` = #{expireTime,jdbcType=TIMESTAMP},
      `is_delete` = #{isDelete,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="ResultMapWithBLOBs" parameterType="com.bbs.mybatis.model.PostExample" id="selectByExampleWithBLOBsWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `post`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.bbs.mybatis.model.PostExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `post`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>


    <select resultMap="BaseResultMap" parameterType="java.lang.String" id="selectByKeywordsWithBLOBsWithRowbounds" >
        select * from `post` where 1=1
        <if test="section_id != ''" >
            and section_id = #{section_id, jdbcType=INTEGER}
        </if>
        <if test="title != ''" >
            and `title` like '%' #{title, jdbcType=VARCHAR} '%'
        </if>

    </select>
</mapper>