<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.mybatis.inter.UserThumbPostMapper">
    <resultMap id="BaseResultMap" type="com.bbs.mybatis.model.UserThumbPost">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="postId" property="postid" jdbcType="INTEGER"/>
        <result column="userId" property="userid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    `id`, `postId`, `userId`
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bbs.mybatis.model.UserThumbPostExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from `user_thumb_post`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from `user_thumb_post`
        where `id` = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `user_thumb_post`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.bbs.mybatis.model.UserThumbPostExample">
        delete from `user_thumb_post`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.bbs.mybatis.model.UserThumbPost">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into `user_thumb_post` (`postId`, `userId`)
        values (#{postid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.bbs.mybatis.model.UserThumbPost">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into `user_thumb_post`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postid != null">
                `postId`,
            </if>
            <if test="userid != null">
                `userId`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postid != null">
                #{postid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.bbs.mybatis.model.UserThumbPostExample"
            resultType="java.lang.Integer">
        select count(*) from `user_thumb_post`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update `user_thumb_post`
        <set>
            <if test="record.id != null">
                `id` = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.postid != null">
                `postId` = #{record.postid,jdbcType=INTEGER},
            </if>
            <if test="record.userid != null">
                `userId` = #{record.userid,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update `user_thumb_post`
        set `id` = #{record.id,jdbcType=INTEGER},
        `postId` = #{record.postid,jdbcType=INTEGER},
        `userId` = #{record.userid,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.bbs.mybatis.model.UserThumbPost">
        update `user_thumb_post`
        <set>
            <if test="postid != null">
                `postId` = #{postid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                `userId` = #{userid,jdbcType=INTEGER},
            </if>
        </set>
        where `id` = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bbs.mybatis.model.UserThumbPost">
    update `user_thumb_post`
    set `postId` = #{postid,jdbcType=INTEGER},
      `userId` = #{userid,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
    <select resultMap="BaseResultMap" parameterType="com.bbs.mybatis.model.UserThumbPostExample"
            id="selectByExampleWithRowbounds">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from `user_thumb_post`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
</mapper>